@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      font-family: 'Jost', sans-serif;
    }
  }


